{
  "openapi": "3.0.1",
  "info": {
    "title": "Unipay API",
    "description": "Privacy-enhanced Solana transaction API",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.unipay.com/v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "paths": {
    "/quote": {
      "get": {
        "summary": "Get Quote",
        "description": "Get pricing information for swaps and transfers",
        "parameters": [
          {
            "name": "inputAsset",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["SOL", "USDC", "USDT"]
            },
            "description": "Input asset symbol"
          },
          {
            "name": "outputAsset", 
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "enum": ["SOL", "USDC", "USDT"]
            },
            "description": "Output asset symbol"
          },
          {
            "name": "amount",
            "in": "query",
            "required": true,
            "schema": {
              "type": "number",
              "minimum": 0.001
            },
            "description": "Input amount"
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": ["wallet", "private"],
              "default": "wallet"
            },
            "description": "Execution mode"
          },
          {
            "name": "slippageBps",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 5000,
              "default": 100
            },
            "description": "Slippage tolerance in basis points"
          }
        ],
        "responses": {
          "200": {
            "description": "Quote generated successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "quoteId": {
                      "type": "string",
                      "description": "Unique quote identifier"
                    },
                    "inputAsset": {
                      "type": "string",
                      "description": "Input asset symbol"
                    },
                    "outputAsset": {
                      "type": "string", 
                      "description": "Output asset symbol"
                    },
                    "inputAmount": {
                      "type": "string",
                      "description": "Input amount"
                    },
                    "outputAmount": {
                      "type": "string",
                      "description": "Expected output amount"
                    },
                    "minOutputAmount": {
                      "type": "string",
                      "description": "Minimum output after slippage"
                    },
                    "priceImpact": {
                      "type": "number",
                      "description": "Price impact percentage"
                    },
                    "fee": {
                      "type": "string",
                      "description": "Total fees"
                    },
                    "mode": {
                      "type": "string",
                      "enum": ["wallet", "private"]
                    },
                    "expiresAt": {
                      "type": "string",
                      "format": "date-time",
                      "description": "Quote expiration time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request parameters",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "429": {
            "description": "Rate limit exceeded",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions": {
      "post": {
        "summary": "Create Transaction",
        "description": "Submit a transaction for processing",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["type", "quoteId"],
                "properties": {
                  "type": {
                    "type": "string",
                    "enum": ["send", "swap", "payroll"],
                    "description": "Transaction type"
                  },
                  "quoteId": {
                    "type": "string",
                    "description": "Quote ID from /quote endpoint"
                  },
                  "mode": {
                    "type": "string",
                    "enum": ["wallet", "private"],
                    "default": "wallet"
                  },
                  "sender": {
                    "type": "string",
                    "description": "Sender wallet address"
                  },
                  "recipients": {
                    "type": "array",
                    "items": {
                      "type": "object",
                      "properties": {
                        "address": {
                          "type": "string",
                          "description": "Recipient address"
                        },
                        "amount": {
                          "type": "string",
                          "description": "Amount to send"
                        }
                      }
                    }
                  },
                  "signedTransaction": {
                    "type": "string",
                    "description": "Base64 encoded signed transaction (wallet mode only)"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Transaction created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionId": {
                      "type": "string",
                      "description": "Unique transaction identifier"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["pending", "processing", "completed", "failed"]
                    },
                    "mode": {
                      "type": "string",
                      "enum": ["wallet", "private"]
                    },
                    "signature": {
                      "type": "string",
                      "description": "Transaction signature (wallet mode)"
                    },
                    "ephemeralAddress": {
                      "type": "string",
                      "description": "Deposit address (private mode)"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Invalid request",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/transactions/{transactionId}": {
      "get": {
        "summary": "Get Transaction Status",
        "description": "Get the current status of a transaction",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Transaction ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction status retrieved",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["pending", "confirmed", "processing", "completed", "failed"]
                    },
                    "mode": {
                      "type": "string",
                      "enum": ["wallet", "private"]
                    },
                    "type": {
                      "type": "string",
                      "enum": ["send", "swap", "payroll"]
                    },
                    "signature": {
                      "type": "string",
                      "description": "On-chain transaction signature"
                    },
                    "blockTime": {
                      "type": "integer",
                      "description": "Block timestamp"
                    },
                    "fee": {
                      "type": "string",
                      "description": "Total transaction fee"
                    },
                    "error": {
                      "type": "string",
                      "description": "Error message if failed"
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    },
                    "updatedAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Cancel Transaction",
        "description": "Cancel a pending transaction",
        "parameters": [
          {
            "name": "transactionId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Transaction ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction cancelled successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "transactionId": {
                      "type": "string"
                    },
                    "status": {
                      "type": "string",
                      "enum": ["cancelled"]
                    },
                    "cancelledAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Cannot cancel transaction",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "404": {
            "description": "Transaction not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/webhooks": {
      "post": {
        "summary": "Create Webhook",
        "description": "Register a webhook endpoint for transaction updates",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["url", "events"],
                "properties": {
                  "url": {
                    "type": "string",
                    "format": "uri",
                    "description": "Webhook endpoint URL"
                  },
                  "events": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "transaction.pending",
                        "transaction.confirmed", 
                        "transaction.completed",
                        "transaction.failed"
                      ]
                    },
                    "description": "Events to subscribe to"
                  },
                  "secret": {
                    "type": "string",
                    "description": "Secret for webhook signature verification"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Webhook created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "webhookId": {
                      "type": "string",
                      "description": "Unique webhook identifier"
                    },
                    "url": {
                      "type": "string"
                    },
                    "events": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    "createdAt": {
                      "type": "string",
                      "format": "date-time"
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Error": {
        "type": "object",
        "properties": {
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "description": "Error code"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error message"
              },
              "details": {
                "type": "object",
                "description": "Additional error details"
              }
            }
          }
        }
      }
    },
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key"
      }
    }
  }
}